@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
# banner__titulo{

}
header {
  position: sticky;
  top: 0;

}

.logo {
  background-color: rgb(5, 141, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

#logo__tipo {
  width: 30vh;
  height: 30vh;
  animation: rotateVertical 5s linear infinite;
}

@keyframes rotateVertical {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

nav {
  background-color: rgba(240, 255, 255, 0.172);
  margin: .1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

ul,
li {
  list-style: none;
  display: inline;
  margin-top: 1rem;
  padding: .9rem;
  font-size: 1.2rem;

}

li:hover {
  color: red;
}

.banner {
  width: 100%;
  height: 75vh;
  background-image: url('/public/img/slider_somos_segar_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: capitalize;
}

.banner__titulo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  font-size: 2.9rem;
  color: #000000;
  font-family: 'Edu QLD Beginner', cursive;
}

.segar {
  color: rgb(0, 0, 0);
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 2.6rem;
}

span {
  color: red;
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 2.6rem;
}

.banner__logo {
  margin: 0 auto;
  display: block;
}

.historia,
h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 2rem;
  background-color: rgb(248, 248, 248);
  font-family: 'PT Sans Narrow', sans-serif;
}

.txt {
  width: 80%;
}

.ceo,
p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

h3 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 5rem;
  color: #000000a5;
}

#section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeline {
  position: static;                                                           
}

.evento {
  background-color: #000000;
  width: .1rem;
  margin: 1.5rem;

}

#evento-datos {
  color: black;
  margin-left: 1rem;
}

.pictur1 {
  width: 45vh;
}

.evento-contenido {
  background: rgba(196, 215, 255, 0.336);
  box-shadow: 0 2rem 6rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1rem);
  border: .9rem solid rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(2rem);
  width: 30rem;
  border-radius: 1rem;
  margin-left: .9rem;
  text-align: center;
}

#background-segar {
  background-image: url(/public/img/Segar-Galería-Bienes-04.jpg);
  background-size: cover;
  background-attachment: fixed;

  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-top: 4rem;

}


h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

#servicios>div {
  background-color: rgba(255, 0, 0, 0.154);
  border: .1rem solid #e0e0e0;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 17, 255, 0.37);
  backdrop-filter: blur(1rem);
  border: .9rem solid rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(2rem);

}

#servicio-1,
#servicio-2,
#servicio-3,
#servicio-4 {
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

#servicio-1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#servicio-2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#servicio-3:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#servicio-4:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.items, .items2, .items3, .items4 {

  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
  margin-bottom: .5rem;


}

#servicio-item {
  width: 12vh;
  padding: .1rem;
}
.banner-2{
  background-image: url(/public/img/Segar-Galería-Custodia-02.jpg);
  background-size: cover;
  background-attachment: fixed;

  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-top: 4rem;
}