@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    position: sticky;
    top: 0;
    
}
.logo {
    background-color: rgba(0, 166, 255, 0.615);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}
#logo__tipo {
    width: 30vh;
    height: 30vh;
}
nav{
    background-color: rgba(240, 255, 255, 0.172);
    margin: .1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
ul, li{
    list-style: none;
    display: inline;
    margin-top: 1rem;
    padding: .9rem;
    font-size: 1.2rem;
    animation: ;
}
li:hover{
color: red;
}
.banner {
    width: 100%;
    height: 75vh;
    background-image: url('/public/img/slider_somos_segar_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: capitalize;
  }
  .banner__titulo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 2.9rem;
    color: #000000;
    font-family: 'Edu QLD Beginner', cursive;  }
  .segar{
    color: rgb(0, 0, 0);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.6rem;
  }
  span{
    color: red;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.6rem;
  }
  
  .banner__logo {
    margin: 0 auto;
    display: block;
  }
  .historia, h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 2rem;
    background-color: azure;
    font-family: 'PT Sans Narrow', sans-serif;
  }
  .txt{
    width: 80%;
  }
  .ceo, p{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  font-size: 1rem;
  }